[Unit]
Description=framework
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/framework
ExecStart=/opt/framework/framework.mjs
EnvironmentFile=/opt/framework/.env

[Install]
WantedBy=multi-user.target
